In [1]:
def say_hello():
    print("Hello!")

In [2]:
say_hello()

Hello!

In [3]:
def say_something(something):
    print(something)

In [5]:
say_something("Hello World")

Hello World

In [10]:
Melanie_says = "Hi, my name is Melanie. I'm learning Python!"

In [11]:
say_something(Melanie_says)

Hi, my name is Melanie. I'm learning Python!

In [12]:
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']

In [13]:
import pandas as pd
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [14]:
# Change the grades by one letter grade.
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [19]:
# Convert the numerical grades to a Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades
# Format the grades to the nearest whole number percent.
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object